.contentImg {
  width: 100%;
  height: 400px;
  margin-bottom: 80px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post {
  margin: 5rem auto 0;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    & > span {
      display: flex;
      align-items: center;
      & + span {
        margin-left: 26px;
      }
      & > svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      & > span {
        color: var(--gray-400);
        font-size: 0.875rem;
      }
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    h2 {
      font-size: 2.25rem;
      font-size: 700;
      margin-bottom: 4.05rem;
    }

    strong {
      font-weight: 700;
    }

    p, ul {
      font-size: 1.125rem;
      margin-bottom: 2.5rem;
    }

    ul {
      padding-left: 2.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}
